@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #333; 
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar ul li {
    min-width: 100px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:  #000;
}
.navbar ul li img {
    width: 60px;
    height: 60px;
    padding-top: 5px;
}
.showcase-parallax {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.showcase-parallax {
    background-image: url('/img/shocase-two.jpg');
    min-height: 100%;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}
.showcase-parallax .title {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 500;
    background-color: rgba(251, 199, 183, 0.3);
}
.showcase-parallax .tagline {
    position: absolute;
    top: 60%;
    width: 100%;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.title .border {
    color: #fff;
}
/* section styles */
.section {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 0 25px rgba(0, 0, 0, 0.8)
}
.section div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-heading {
    display: block;
    margin: 5px 0 5px 50px;
    padding: 10px 0 10px;
    text-align: left;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 80%; 
    line-height: 2rem;
}
p.section-text {
    max-width: 80%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1em;
    line-height: 2rem;
}
.light {
    background-color: #fff;
}
.pink {
    background-color: #fbc7b7;
}
.parallax {
    background-image: url('/img/coffee-one.jpg');
    position: relative;
    opacity: 0.8    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75vh;
}
.parallax .qoute {
    position: absolute;
    top: 33.3%;
    width: 100%;
    padding: 0 15%;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 600;
}
footer {
    height: 50vh;
    background-color: #333;
    color: #666;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
footer h2 {
    color: #fff;
    font-weight: 600;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer p {
    font-size: 0.85em;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
footer ul li span {
    color: white;
}

@media screen and (max-width:900px) {
    .section-heading {
        font-size: 3rem;
    }
    p.section-text, footer {
        font-size: 0.8333rem;
    }
}
@media screen and (max-width:800px) {
    .showcase-parallax .title {
        font-size: 2rem;
    }
    .showcase-parallax .tagline {
        font-size: 1.1rem;
    }
    .section {
        flex-direction: column;
    }
    .section-two div.light, .section-one div.light {
        display: flex;
        flex-direction: row;
        max-height: 100px !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .section-heading {
        flex: 1;
        height: 50px;
    }
    .section.section-two {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    div.light .section-heading {
        margin: 0 10px;
        font-size: 1.75rem;
        /* padding: 0; */
        width: auto;
    }
}
@media screen and (max-width: 550px) {
    .parallax-1, .parallax-2 {
        background-attachment: scroll;
    }
    .showcase-parallax .tagline {
        display: none;
    }
    div.light span.section-heading {
        font-size: 1rem;
        padding: 0;
        margin: 0 2.5px;
        height: auto;
    }
    div.pink {
        justify-content: center;
        align-items: center;
    }
    p.section-text {
        margin: 0;
        padding: 5px 0;
        max-width: 95%;
        text-align: center;
        font-size: 0.75rem;
    }
    .parallax div.qoute {
        font-size: 1rem;
        padding: 0 1rem;
    }
    footer {
        padding: 1rem;
        text-align: center;
    }
}