@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar ul li {
    /* margin: 0 0.75rem;
    padding: 1rem; */
    min-width: 100px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.navbar ul li:nth-child(2) {
    /* padding: 0; */
} 
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:  #000;
}
.navbar ul li img {
    width: 60px;
    height: 60px;
    padding-top: 5px;
}

.showcase-parallax {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* to enable effect */
    /* 
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
}
.showcase-parallax {
    background-image: url('/img/shocase-two.jpg');
    min-height: 100%;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}
.showcase-parallax .title {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-size: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 500;
    background-color: rgba(251, 199, 183, 0.3);
}
.showcase-parallax .tagline {
    position: absolute;
    top: 60%;
    width: 100%;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.title .border {
    color: #fff;
}
/* section styles */
.section {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 0 25px rgba(0, 0, 0, 0.8)
}
.section div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.section-heading {
    display: block;
    margin: 5px 0 5px 50px;
    padding: 10px 0 10px 25px;
    text-align: left;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 80%;
    line-height: 2rem;
}
.section-text {
    max-width: 80%;
    /* padding: 0 50px; */
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9rem;
    line-height: 2rem;
}
.light {
    background-color: #fff;
}
.pink {
    background-color: #fbc7b7;
    /* color: #000; */
}
.parallax {
    background-image: url('/img/coffee-one.jpg');
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* to enable effect */
    /* 
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
    height: 75vh;
}
.parallax .qoute {
    position: absolute;
    top: 33.3%;
    width: 100%;
    padding: 0 15%;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 600;
    /* background-color: rgba(251, 199, 183, 0.3); */
}
footer {
    height: 50vh;
    background-color: #333;
    color: #666;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
footer h2 {
    color: #fff;
    font-weight: 600;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer p {
    font-size: 0.85em;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
footer ul li span {
    color: white;
}